body {
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

header{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

#mainContainer {
    margin: 0 auto;
    width: 90%;
    height: auto;
    justify-content: center;
}

#title {
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: red;
}

#inputContainer {
    height: auto;
    background-color: lightslategrey;
}

#inputForm {
    width: 70%;
    margin: 0 auto;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.summary {
    margin-top: 10px;
    color:rgb(83, 3, 3);
    text-align: end;
}

.input-info-danger {
    color: rgb(83, 3, 3);
    font-size: 14px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-change {
    margin: 0 20px 0 0;
    justify-self: flex-end;
}

@media (min-width: 768px) {
    .input-fields {
        flex-direction: row;
    }
} 


